<!DOCTYPE html>
<html>
  <head>
    <title>Multiple Choice Quiz</title>
  </head>
  <body>
    <div id="app">
      <h1>Multiple Choice Quiz</h1>

      <!-- Title page -->
      <div v-if="page == 'titlePage'">
        <h1>Title Page</h1>
        <button @click="page = 'quizPage'">Go to quiz</button>
      </div>
      <!-- Quiz page -->
      <div v-if="page == 'quizPage'">
        <h1>Quiz Page</h1>
        <div v-for="question in quiz">
          {{question.title}}<br/>{{question.questionText}}
            <select v-model="question.userAnswer">
            <!-- <option>{{question.userAnswer}}</option> -->
              <option>{{question.answers[0].text}}</option>
              <option>{{question.answers[1].text}}</option>
              <option>{{question.answers[2].text}}</option>
              <option>{{question.answers[3].text}}</option>
              
            </select>
          </div>
          <button v-on:click="areAllQuestionsAnswered()">Submit</button>
        </div>
      </div>
      <!-- Score page -->
      <div v-else-if="page == 'scorePage'">
        <h1>Score Page</h1>

      </div>
      
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="app.js"></script>
  </body>
</html>
